<div class="navbar">	
	<p><%= link_to 'Home', root_path %></p>
</div>
<h1>Edit Employee</h1>
<div class="form-general">
	<%= render 'form' %>
</div>
<%= link_to 'Back', employees_path, { class: 'back-link' } %>