<div class="navbar">	
	<p><%= link_to 'Home', root_path %></p>
</div>
<h1>Edit Reservation</h1>
<div class="form">
	<%= render 'form' %>
</div>
<%= link_to 'Back', rooms_path, { class: 'back-link' } %>