@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

select {
	font-size: 18px;
}

table {
	margin: auto;
	margin-top: 40px;
	width: 70%;
	border-collapse: collapse;
}

table, th, td {
    border: 1px solid #D3D3D3;
    padding: 10px;
}

.form {
	margin: auto;
	margin-top: 40px;
	width: 50%;
}

.back-link {
	text-align: center;
	display: block;
	margin-left: 42%;
	margin-right: 42%;
	padding: 10px 25px 10px 25px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	text-decoration: none;
	background-color: #97b6d3;
	color: #fff;
}

input[type="submit"] {
	margin-top: 10px;
}
