@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
	height: 50px;
	border: 1px solid #3F9086;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	background: #46A095;

}

.navbar p {
	color: #fff;
	font-size: 18px;
	margin-left: 3%;
	line-height: 50px;
	display: inline;
}

.navbar a {
	text-decoration: none;
	color: #fff;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

h3 {
	text-align: center;
}

select {
	font-size: 18px;
}

table {
	margin: auto;
	margin-top: 40px;
	width: 70%;
	border-collapse: collapse;
}

table, th, td {
    border: 1px solid #D3D3D3;
    padding: 10px;
}

.form {
	margin: auto;
	margin-top: 40px;
	width: 50%;
}

.back-link {
	text-align: center;
	display: block;
	margin-left: 42%;
	margin-right: 42%;
	padding: 10px 25px 10px 25px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	text-decoration: none;
	background-color: #97b6d3;
	color: #fff;
}

input[type="submit"] {
	margin-top: 10px;
}
